.search {
  width: 20%;
}

.search-locations-bar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}

.search-locations-input-wrapper {
  flex: 1;
  background: #e9e;
}

.search-locations-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}


 .search-results {
  margin-top: 60px;
}

 .search-item {
  color: #ffffff;
  list-style-type: none;
  font-size: 20px;
  padding: 20px;
}

.search-item-name {
    cursor: pointer;
}

.search-item :active{
background-color: black;
}

.button-wrapper {
	display: flex;
	justify-content: center;
}

.all-locations-button {
	position: fixed;
    width: 70%;
    font-size: 20px;
}
