.sidebar {
  width: 300px;
}

.info-window {
  background-color: #e2e2e2;
  padding: 10px
}

.info {
  padding: 5px 0;
  font-size: 18px;
  font-weight: 600;
}

.likes {
  color: #8634c1;
}

.rating {
  color: #1c73ff;
}


@media screen and (min-width: 800px) {
  .sidebar-button {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  .sidebar {
    width: 80%;
  }
}
